<!DOCTYPE html>  
<html lang="en">  
<head> 
    <style>
#teste{
  background-color: lightgrey;
  width: 600px;
  border: solid #E1ADEE;
  padding: 50px;
  margin: 20px;
    position: relative;
 left: 5px;
    
}
        
        #bt{
            border: solid #B24ECD;
  background-color: #E1ADEE;
            color:#B24ECD;
    position: absolute;
 left: 250px;
            border-radius: 12px;
    
}
        
        #bt:hover {
  background-color: white; 
  color: #E1ADEE;
            border: solid #B24ECD;
}
</style>
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>  
<body style="background-color:#EFDAF5;">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/show">Ayano</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/show">Equipamentos Móveis</a></li>
        <li><a href="/showf">Equipamentos Fixos</a></li>
      <li><a href="/showMan">Manutenção</a></li>
        <li><a href="/showAloc">Alocados</a></li>
        <li><a href="/logout/">Logout</a></li>
    </ul>
  </div>
</nav>
    <div class="jumbotron text-center" style="background-color:#E1ADEE;">
  <h1 style="font:60px Arial;">Ayano Solutions</h1>
  <p>Agendamento de Manutenções</p> 
</div>
  
        {% csrf_token %}
    
    <br><div id ='teste' class="container center-block" style="margin: 0 auto;">  
<br>  
    <div class="form-group row">  
    <label class="col-md-12 col-form-label"></label>  
    <div class="col-md-12">  
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Detalhes da Manutenção</h3><br>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Código da Manutenção:</label>  
    <div class="col-sm-6">  
     <label>{{ equipamento.eid }}</label> 
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Equipamento:</label>  
    <div class="col-sm-6">  
       <label>{{ equipamento.equipamento.ename}}</label>    
    </div>  
  </div>
     <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Data da Compra:</label>  
    <div class="col-sm-6">  
       <label>{{ equipamento.equipamento.edataC}}</label>    
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Área:</label>  
    <div class="col-sm-6">  
       <label>{{ equipamento.equipamento.earea}}</label>    
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Quantidade:</label>  
    <div class="col-sm-6">  
       <label>{{ equipamento.equipamento.eqtd}}</label>    
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Fornecedor:</label>  
    <div class="col-sm-6">  
        <label>{{ equipamento.fornecedor.nome }}</label>  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-6 col-form-label">E-mail:</label>  
    <div class="col-sm-6">  
        <label>{{ equipamento.fornecedor.email }}</label>  
    </div>  
  </div>
     <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Telefone:</label>  
    <div class="col-sm-6">  
        <label>{{ equipamento.fornecedor.telefone }}</label>  
    </div>  
  </div>
     <div class="form-group row">  
    <label class="col-sm-6 col-form-label">CEP:</label>  
    <div class="col-sm-6">  
        <label>{{ equipamento.fornecedor.cep }}</label>  
    </div>  
  </div>
     <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Endereço:</label>  
    <div class="col-sm-6">  
        <label>{{ equipamento.fornecedor.endereco }} - {{ equipamento.fornecedor.cidade }}</label>  
    </div>  
  </div>
        <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Data:</label>  
    <div class="col-sm-6">  
        <label>{{ equipamento.edata }} / {{ equipamento.horario }}</label>   
    </div>  
  </div> 
        <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Qtd. Dias em Manutenção:</label>  
    <div class="col-sm-6">  
        <label>{{ equipamento.dias }}</label>   
    </div>  
  </div> 
        <div class="form-group row">  
    <label class="col-sm-6 col-form-label">Status da Manutenção:</label>  
    <div class="col-sm-6">  
        <label>{{ equipamento.status }}</label>   
    </div>  
  </div>
     <br> 
    <div class="form-group row">  
    <label class="col-sm-3 col-form-label"></label>  
    <div class="col-sm-6">  
    
                <a href="/emailMan/{{ equipamento.id }}" class="btn btn-info">Agendar Manutenção</a>
                <a href="/showMan" class="btn btn-warning">Voltar</a>
            
    </div>  
  </div>  
    </div>  
        
<br><br>
    <footer style="background-color:#E1ADEE;" class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Desenvolvido por:</h5>
        <p>Gleyce Andrade<br>Lucas Alves<br>Lucas Amaral<br>Mayara Andrade</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <label> Ayano Solutions.</label>
  </div>
</footer>
</body>  
</html> 